@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary: #ea40a4;
  --secondary: #3a82ee;
  --personal: var(var(--primary));
  --light: #eee;
  --dark: #313154;
  --danger: #ff5b57;
  --grey:#888;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  --personal-glow: 0px 0px 0px rgba(234, 64, 164, 0.75);
}

* {
  font-family: "Montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input:not([type="radio"]):not([type="checkbox"]), button{
appearance: none;
border: none;
outline: none;
background: none;
cursor: initial;
}
body{
    background-color: var(--light);
    color: var(--dark);
}
section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
h3{
    color:var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
h4{
    color:var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.greeting .title{
    display: flex;
}
.greeting .title input{
    margin-left: 0.5rem;
    flex:1 1 0%;
    min-width: 0;
}
.greeting .title, 
.greeting .title input{
    color: var(--dark);
    font-size:1.5rem;
    font-weight: 700;
}
