* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 238, 228);
}
.title h2 {
  margin-top: 65px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1px;
  font-size: 38px;
}
.title .underline {
  background-color: rgb(181, 161, 47);
  width: 60px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.btn-container{
    display: flex;
  justify-content: center;
  gap:15px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn-container .filter-btn{
    border: 2px solid rgb(181, 161, 47);
    border-radius: 6px;
    padding: 6px 10px;
    text-transform: capitalize;
    font-size: 16px;
}
.btn-container .filter-btn:hover{
    background-color:  rgb(181, 161, 47);
    color: white;
    transition: all 200ms ease-in-out;
}
.section-center {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 60px;
}
.menu-item {
  margin-top: 40px;
  display: flex;
  /* margin-left: 30px; */
}
.menu-item img {
  border: 4px solid rgb(181, 161, 47);
  border-radius: 10px;
  width: 370px;
  height: 250px;
}
.item-info header h4.price {
  color: rgb(181, 161, 47);
}
.item-info header {
    width: 370px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(225, 215, 158);
}
.item-text {
  width: 350px;
  color: grey;
  margin-top: 5px;
  margin-left: 10px;
}
