*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{background-color:rgb(204, 220, 226);
    margin-top: 36px;
    text-align: center;
}
h1{
    margin-bottom: 36px;
}
.section-center{
    max-width: 900px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    gap:20px;
}
img{
    width: 450px;
    border-radius: 6px;
}
.gift-info{
    margin-top: 20px;
}
.gift-info h3{
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
    color: rgb(62, 117, 131);
}
.gift-info h4{
    color: rgb(82, 80, 80);
    margin-bottom: 10px;
}
.gift-info p{
color: rgb(113, 112, 112);
}
.deadline{
    margin-top: 36px;
    display: flex;
    justify-content: center;
   gap:20px;
}
.deadline-format{
    width: 65px;
    height: 60px;
    border: 1px solid black;
    padding: 6px 0 0 0 ;
    background-color: black;
}
.deadline-format h4{
font-size: 24px;
font-weight: 900;
margin-bottom: -2px;
color: white;
}
.deadline-format span{
    font-size: 12px;
    color: white;
}
h4.expired{
    color: red;
    font-size: 22px;
    margin-top: -25px;
}
