@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 1940px) {
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(253, 253, 253);
  }
  .nav-header img {
    width: 60px;
    height: 60px;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .nav-toggle {
    display: none;
  }
  .links-container .links {
    display: flex;
    gap: 30px;
    text-transform: capitalize;
  }
  .links .scroll-link {
    color: black;
    text-decoration: none;
  }
  .links li {
    list-style-type: none;
  }
  .banner {
    background-image: url("https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9nZ3klMjBmb3Jlc3R8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60");
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container {
    text-align: center;
    padding-top: 40vh;
  }
  .container h1 {
    color: rgb(234, 234, 234);
    font-size: 48px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .container p {
    color: rgb(234, 234, 234);
    font-size: 18px;
    margin-bottom: 20px;
  }
  .btn {
    text-transform: uppercase;
    background: transparent;
    color: black;
    padding: 6px 10px;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 18px;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  .btn:hover {
    color: white;
    background: black;
  }
  .btn-white {
    color: white;
    border-color: white;
    border-radius: 0;
    padding: 8px 16px;
  }
  .btn:hover {
    background: white;
    color: black;
  }
  .section {
    padding-bottom: 80px;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  /* main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  } */
  .title h2 {
    text-align: center;
    text-transform: uppercase;
  }
  .title span {
    color:green;
  }
  #about,
  #services,
  #tours {
    height: 100vh;
  }
  #services {
    background: white;
  }
  footer {
    background-color: black;
    padding: 68px 16px;
  }
  footer p {
    color: white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  .top-link {
    font-size: 18px;
    position: fixed;
    bottom: 24px;
    right: 48px;
    background: rgb(48, 173, 48);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 6px;
    color: white;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    /* z-index: -100; */
  }
  .show-link {
    visibility: visible;
    /* z-index: 100; */
  }
  
}

@media screen and (max-width: 600px) {
  .nav-header {
    display: flex;
    /* justify-content:center; */
  }
  .nav-toggle {
    margin-right: -400px;
    width: 40px;
    font-size: 36px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links-container .links {
    display: none;
  }
  .container p {
    padding-left: 30px;
    padding-right: 30px;
  }
}
