* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: rgb(244, 189, 167);
  display: flex;
}
/* img {
  height: 130px;
  width: 160px;
} */
/* .back-face {
  height: 200px;
} */
.memory-game {
  width: 775px;
  height: 775px;
  border: 2px solid lime;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.memory-card {
  margin: 2px;
  /* border: 2px solid aqua; */
  width: calc(25% - 4px);
  height: calc(33.3333% - 4px);
  position: relative;
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border: 2px solid deeppink;
  background-color: rgb(92, 92, 92);
}
